@charset utf-8;

.main_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap
}

.main_flex__nowrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap
}

.flex__jcontent_between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.flex__jcontent_start {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.flex__jcontent_end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.flex__jcontent_center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.flex__jcontent_around {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.flex__auto {
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
}

.flex__align-items_start {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.flex__align-items_end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.flex__align-items_baseline {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.flex__align-items_stretch {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.flex__align-items_center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.flex__align-content_flex-start {
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.flex__align-content_flex-end {
	-ms-flex-line-pack: end;
	    align-content: flex-end;
}

.flex__align-content_space-between {
	-ms-flex-line-pack: justify;
	    align-content: space-between;
}

.flex__align-content_center {
	-ms-flex-line-pack: center;
	    align-content: center;
}

.flex__align-content_space-around {
	-ms-flex-line-pack: distribute;
	    align-content: space-around;
}

.flex__align-content_stretch {
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
}

.flex__flex-grow_01 {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.flex__flex-grow_02 {
	-webkit-box-flex: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
}

.flex__flex-grow_03 {
	-webkit-box-flex: 3;
	    -ms-flex-positive: 3;
	        flex-grow: 3;
}

.flex__flex-grow_04 {
	-webkit-box-flex: 4;
	    -ms-flex-positive: 4;
	        flex-grow: 4;
}

.w5 {
	width: 5%;
	max-width: 5%
}

.w10 {
	width: 10%;
	max-width: 10%
}

.w15 {
	width: 15%;
	max-width: 15%
}

.w20 {
	width: 20%;
	max-width: 20%
}

.w25 {
	width: 25%;
	max-width: 25%
}

.w30 {
	width: 30%;
	max-width: 30%
}

.w35 {
	width: 35%;
	max-width: 35%
}

.w40 {
	width: 40%;
	max-width: 40%
}

.w45 {
	width: 45%;
	max-width: 45%
}

.w50 {
	width: 50%;
	max-width: 50%
}

.w55 {
	width: 55%;
	max-width: 55%
}

.w60 {
	width: 30%;
	max-width: 60%
}

.w65 {
	width: 65%;
	max-width: 65%
}

.w70 {
	width: 70%;
	max-width: 70%
}

.w75 {
	width: 75%;
	max-width: 75%
}

.w80 {
	width: 80%;
	max-width: 80%
}

.w85 {
	width: 85%;
	max-width: 85%
}

.w90 {
	width: 90%;
	max-width: 90%
}

.w95 {
	width: 95%;
	max-width: 95%
}

.w100 {
	width: 100%;
	max-width: 100%
}

.main_flex__nowrap_reverse {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: row-reverse nowrap;
	        flex-flow: row-reverse nowrap
}